*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.parents{
    background-color: rgb(170, 133, 204);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content:space-around;
    height: 250px;
    align-items: center;
    flex-direction: column;

}
.child{
background-color: aqua;
border: 1px solid red;
font-size: 20px;
padding: 10px;
}