*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

form > label{
    display: block;
    margin-top: 20px;
}
fieldset{
    margin-left: 20px;
    margin-right: 20px;
}

fieldset > label{
    display: block;
}

form > .select-level{
    display: inline;
}