*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header > nav{
    margin-left: 40%;
}

nav > ul{
    display: flex;
    
}

nav > ul > li {
    margin-right: 2rem;
    font-size: 20px;
    margin-top: 1rem;
}
nav li :hover{
    background-color: rgb(154, 71, 231);
}

