h2:hover{
    background-color: brown;
    color: blue;
  
}

input:focus{
    color: red;
    outline: 0;
    /* padding-left: 15px; */
    border: 2px dotted red;

}
a:visited{
    color: rgb(42, 165, 56);
}

/* li:last-child{
    color: chocolate;
}
li:first-child{
    color: red;
} */

li:nth-child(2n+1){
    color: red;
}