
.box{
    position: relative;
}

.boy{
    top: 140px;
    z-index: 2;


}


.ring{
    z-index: 1;
    top: 80px;
    /* z-index: 2; */


}

h3::after{
    font-size: 50px;
    content: '.pdf';
    background-color: yellowgreen;
}
h3::before{
    content: 'Start';
    font-size: 30px;
    color: brown;

}

p::first-letter{
    font-size: 45px;
}
p::first-line{
    background-color: blueviolet;
}

p::selection{
    background-color: chocolate;
    display: grid;
    grid-template-columns: repeat(2, 100px) 200px 100px;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-columns: 200px auto 200px;
    justify-content: space-around;

}

::selection{
    background-color: chocolate;
}

