.div1{
    border: 5px solid blue;
    border-radius: 2rem;
    margin: 60px;
    padding: 25px;
    height: 15rem;
    background-color: rgb(57, 201, 206);
}
   

.paragraph1{
    color: rgb(236, 231, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(102, 148, 56);
}
.pass1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;

}

#div2{
    border: 10px solid black;
}

#lo69{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    border: 5px dotted blue;
    margin: 9px;
    border-radius: 15px;

}

.b1{
    font-size:xx-large;
    font-weight: bolder;
}

