.header{
    height: 800px;
    background-image: url(./photo/grandmother.jpg);
    /* background-repeat: no-repeat; */
   /* background-repeat:repeat-x; */
   /* background-repeat: repeat-y; */
   /* background-size: cover; */
   /* background-size: contain; */
   background-size: 270px;
   /* background-image: url(../photo/beautiful-anime-sakura-cityscape-cartoon-scene.jpg); */
   /* background-position: left top; */
   /* background-position: top; */
   /* background-position: right top; */
   /* background-position: left; */
   /* background-position: center; */
   /* background-position: right; */
   /* background-position: left bottom; */
   /* background-position: bottom; */
   /* background-position: right bottom; */
   
}